<style>
  .c-dialog {
    position: fixed;
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: var(--border-radius);
    box-sizing: border-box;
  }
  .c-dialog_center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .c-dialog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
<div class="c-dialog c-dialog_center">
  <div name="{aaa}" class="c-dialog_header">
    <div class="c-dialog-title"></div>
    <div class="c-dialog-close">关闭</div>
  </div>
  <slot />
</div>
<c-overlay></c-overlay>
